*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #DDD0C8;
}

.logo__texto {
    font-family: "Lucida Calligraphy", cursive;
    font-size: 2rem;
    color: #323232;
}

.header {
    border-bottom: 0.5vh solid #323232;
}

.logo {
    display: flex;
    justify-content: left; 
}

.barra {
    display: flex;
    justify-content: right; /* Centrar horizontalmente el contenido de la barra de navegación */
}

.barra__div{
    display: inline;
}

.barra__lista {
    list-style-type: none;
}

.barra__item {
    display: inline;
    margin-right: 10px; /* Añadir espacio entre los elementos de la barra de navegación */
}

.dropdown-menu{
    background: #DDD0C8 !important;
}

/*Main de Index*/
.nosotros{
    display: grid;
    grid-template-columns: 33% auto;
    border-bottom: 0.5vh solid #323232;
}

.nosotros__texto {
    display: grid;
    grid-template-rows: auto;
    align-items: center;
    text-align: center;
}

.nosotros__parrafo{
    flex: 1;
    margin: 0 10px;
}

.intertexto{
    text-align: center;
}

.salones{
    display: grid;
    grid-template-columns: auto auto auto;
    border-bottom: 0.5vh solid #323232;
}

.salones__salon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 4px solid #323232 !important;
    border-radius: 2px;
    text-align: center;
}

@media screen and (max-width: 768px){
    .nosotros{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
    }
    .salones{
        display: grid;
        grid-template-columns: auto;
    }
}

/*Main de Salones*/
.main__salones{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
}

.main__salones{
    text-align: center;
}

.imagen--chica{
    height: 3%;
    width: 3%;
}

.salon1, .salon2, .salon3{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
}