*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgb(155, 179, 202);
    font-family: Arial, Helvetica, Lucida, sans-serif;
}

.divlogo__empresa{
    color: black;
    font-weight: 700;
    font-style: italic;
    position: absolute;
    top: 1.5vw;
}

.header{
    background-color: rgb(173, 159, 80);
    border-bottom: 0.3vw solid rgb(119, 67, 24);
}

.inline{
    display: inline;
}

.divlogo__img--chica{
    width: 6vw;
    height: 5vh;
}

.barra-nav__lista{
    position: absolute;
    top: 20px;
    right: 0;
}

.barra-nav__item{
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    display: inline;
    bottom: 15px;
    border: 3px solid black;
    border-radius: 5px;
    box-sizing: content-box;
    margin-right: 20px;
    background-color: rgb(143, 125, 27);
}

.ancla {
    text-decoration: none;
    color: white;
}

/*Main de Index */

.main{
    width: 100%;
    height: 100%;
}

.quienes-somos{
    background: linear-gradient(transparent, #0009), url("../assets/img/fiesta-fondo.jpg") fixed no-repeat center/cover;
    display: grid;
    grid-template-rows: auto auto auto;
}

.subtitulo{
    font-size: 1em;
    text-align: center;
    margin: 2vw;
}

.salones{
    display: grid;
    grid-template-columns: auto auto auto;
    height: 30vw;
    width: 100vw;
}

.img-mediana {
    border-top-left-radius: 0.3vw;
    border-bottom-right-radius: 0.3vw;
    border: 0.5vh solid black;
    width: 20vw;
    height: 25vh;
    justify-self: center;
    align-self: center;
    object-fit: cover;
}

.negrita{
    font-weight: bold;
}

.salones__ver-mas{
    background-color: rgb(119, 67, 24);
    border: 3px solid black;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    text-decoration: none;
    color: white;
}

.salones__ver-mas:hover{
    background-color: rgb(170, 152, 137);
    box-shadow: #0009;
}

/*Main de Salones */
.borde{
    position: relative;
    left: 600px;
    border-radius: 5px;
    border-bottom: 5px solid black;
}

.salon-descripcion{
    width: 100%;
    height: 300px;
}

.salon{
    width: 33%;
    display: inline-block;
    padding: 30px;
    position: relative;
}

.descripcion{
    width: 67%;
    box-sizing:content-box;
    height: 300px;
    position: absolute;
    display: inline-block;
    right: 0;
    margin-top: 25px;
}

.margin-leve{
    margin-top: 25px;
}

/*Main de Contacto*/

.contenedor-contacto{
    width: 100%;
    height: 300px;
}

.contacto-main{
    width: 100%;
    box-sizing:content-box;
    height: 300px;
    position: absolute;
    display: inline-block;
    left: 200px;
    margin-top: 10px;
}

/*Footer Main*/

.footer{
    background-color: rgb(243, 219, 81);
    border-top: 3px solid rgb(119, 67, 24);
    width: 100%;
}

.mapa-contacto{
    display: grid;
    grid-template-columns: auto auto auto;
    width: 100%;
    height: 30%;
    background-color: rgb(143, 125, 27);
}

.mapa{
    display: inline-block;
    padding: 3vw;
    position: relative;
}

.contacto{
    grid-area: ;
    box-sizing:content-box;
    height: 300px;
    position: absolute;
    display: inline-block;
    right: 0;
}

.texto-footer{
    padding: 25px;
}

.texto-centrado{
    text-align: center;
}

input::placeholder{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

.input{
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 2px;
    position: relative;
    padding: 5px;
}

.input-nombre{
    width: 200px;
    height: 50px;
    left: 250px;
}

.input-telefono{
    width: 200px;
    height: 50px;
    left: 250px;
    margin-left: 10px;
}

.input-email{
    width: 415px;
    height: 50px;
    left: 250px;
    margin-top: 10px;
}

.input-submit{
    background-color: black;
    color: white;
    left: 615px;
    margin-top: 10px;
}

.texto-final{
    border-top: 3px solid rgb(119, 67, 24);
}

.position-fixed{
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.texto-gris{
    color: gray;
    font-style: italic
}

.whatsapp__img--chica{
    width: 10vw;
    height: 10vw;
}

/*Footer Contacto*/
.mapa-centrado{
    height: 300px;
    width: 400px;
    position: absolute;
    left: 450px;
    margin-top: 25px;
}