.main-salones {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-row-gap: 7vh;

    .titulo {
        @include texto-centrado;
    }

    @each $salon in $salones {
        .#{$salon} {
            @include salon-estilos;
        }
    }
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    background-color: transparent;
}

.carousel-indicators {
    background-color: transparent;

    &.active {
        background-color: #fff;
    }
}